In [1]:
a=10
print(a)

10

In [6]:
b =input("enter a number")
print(b)

55

Operators

In [16]:
x = 10
y = 5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

15
5
50
2.0
2
0
100000

In [36]:
x = 5
x+=5
x-=5
x*=5
print(x)

25

In [41]:
a=10
b=3
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [48]:
a>5 and a>11

False

In [47]:
a>5 or a>11

True

In [49]:
not(a>5 and a>11)

True

In [53]:
fruits = ['apple', 'mango','grapes']
'mango' not in fruits

False

In [4]:
# to print string in multiple lines we write it in triple quotes('''.....''')
poem= '''jonny jonny yes papa 
eating sugar no papa'''
print( poem)

jonny jonny yes papa
eating sugar no papa

In [6]:
fruits= ['apple','mango','banana','orange','grapes','watermelon']
print(fruits)

['apple', 'mango', 'banana', 'orange', 'grapes', 'watermelon']

In [7]:
fruits.append('strawberry')  # append() is used to add a new element at the end of the list
print(fruits)

['apple', 'mango', 'banana', 'orange', 'grapes', 'watermelon', 'strawberry']

In [10]:
fruit = ('apple','mango','grapes','banana','kiwi','orange','apple','mango')
print(fruit)

('apple', 'mango', 'grapes', 'banana', 'kiwi', 'orange', 'apple', 'mango')

In [13]:
fruit = {'apple','mango','grapes','banana','kiwi','orange','watermelon'}
print(fruit)

{'orange', 'kiwi', 'grapes', 'banana', 'apple', 'watermelon', 'mango'}

In [14]:
# creating a dictionary
student ={
    'Name' : 'Riya',
    'Class' : '12th',
    'Age' : 19,
    'Marks' : 90
}
print(student)

{'Name': 'Riya', 'Class': '12th', 'Age': 19, 'Marks': 90}

In [21]:
a=19
b='good'
type(a)
type(b)

str

In [23]:
#string concatenation
a=input(' enter 1st number: ')
b=input('enter 2nd number: ')
print(a+b)

123456

In [24]:
type(a)

str

In [29]:
# Type_Casting

a=int(input('enter a number: '))
b=input('enter 2nd number: ')
c=int(b)
print(a+c)

160

In [37]:
a=250
b=150
print(a+b)
print('Result is : ', a+b)
print('sum of ',a,'and',b,'is : ',a+b)
print(f'sum of {a} and {b} is : {a+b}')

400
Result is :  400
sum of  250 and 150 is :  400
sum of 250 and 150 is : 400