In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

- Ways to create dataset
   - dictionary of items
   - list of items
   - importing csv files
   - importing excel files
   - importing json files
- reading data
- selection of data
- manipulating the data
- visualizing the data

In [5]:
# creating dataset from dictionary items
books ={
    'Title': ['The Hobbit','The Catcher in the Rye','1984','The Little Prince','The Da Vinci Code'],
    'Author':['J.R.R Tolkien','J.D Salinger','George Orwell','Antoine de Saint- Exupery','Dan Brown'],
    'Published': [1937,1951,1949,1943,2003],
    'price': [399,199,299,199,499]
}
pd.DataFrame(books)

                    Title                     Author  Published  price
0              The Hobbit              J.R.R Tolkien       1937    399
1  The Catcher in the Rye               J.D Salinger       1951    199
2                    1984              George Orwell       1949    299
3       The Little Prince  Antoine de Saint- Exupery       1943    199
4       The Da Vinci Code                  Dan Brown       2003    499